{
    "parser": "babel-eslint",
    "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
],
    "plugins": [
    "react",
    "react-hooks"
],
    "rules": {
    "react/sort-prop-types": ["error", { "sortShapeProp": true }],
        "react/jsx-curly-brace-presence": ["error", { "props": "never", "children": "never" }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
},
    "env": {
    "node": false,
        "es6": true,
        "browser": true
},
    "settings": {
    "react": {
        "version": "16.8"
    }
}
}
